
.Inter__500-16{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}

.Inter__500-18{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    font-style: normal;
}

.Inter__400-48{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    line-height: normal;
}

.Inter__700-14{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.Inter__400-16{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.Montserrat__400-18{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

.Montserrat__400-16{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.Montserrat__400-13-mobile{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
}

.Montserrat__400-12{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
}
